# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.DS_Store

# logs
logs/

# Build output
dist/
/.vs/Machin3-Bas3.slnx/FileContentIndex/7c33d14c-3d14-46af-b17b-ea637c7f7a64.vsidx
/.vs/Machin3-Bas3.slnx/FileContentIndex/1b87d919-67dc-4684-93a2-d30f13cb459f.vsidx
